################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TestResults/da6f840f-c573-4845-b697-2d6e77a8986c/noelc_LAP-NOEL 2017-10-07 16_37_12.coverage
